# Ignorar arquivos do Visual Studio
.vs/
*.vsidx
*.suo
*.user
*.aps
*.bsc
*.map
*.sbr
*.pch
*.pcd
*.pgm
*.tlb
*.tlh
*.tmp
*.log
*.trx
*.testrunconfig
*.coverage

# Ignorar arquivos compilados C++
*.o
*.obj
*.exe
a.out
Debug/
Release/
build/

# Ignorar outros arquivos
*~
*.bak
# Adicione aqui outras linhas que você queira manter do .gitignore do GitHub, se houver